#header {
    background-color: #e47a2e;
    height: auto;
}
#header > h1
{
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 20px blue, 1px 1px 10px lightblue;
    padding: 9px;
}

#button {
    background-color: #BD3D3A;
}
a{
    font-size: 25px;
    padding: 9px;
}
#leftSidebar {
    background-color: #f6d155;
}
#leftDeco{
    background-color: #bcbcbe;
}
#rightDeco{
    background-color: #bcbcbe;
}
#footer{
    background-color: #e47a2e;
    paint-order: bottom;
}